.footer{
        padding: 1em 20em;
        background-color: #12568d;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
        color: #fff;
        font-family: OpenSansRegular;
    }
    .footer-content{
        font-size: .8em;
        /* align-items: center; */
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .site-mta-footer{
        font-size: .8em;
        color: #fff;
    }
    .a{
        font-size: .8em;
    }
    .copy-right-msg{
        font-size: .8em;
        padding-left: 50%;
        color: #fff;
        font-size: 10px;
    }
    .footer-test{
        font-size: 12px;
        background-color: transparent;
        color: antiquewhite;
        padding: 3px;
    }
    