.username-password-formholder{
    margin-top:5em;
}
.username-password-form{
    display: flex;
    margin:0 auto;
    padding:0.8em 2em;
    width: 30%;
    background-color:rgba(18, 86, 141, 0.5);
    border-radius: 0.5em;
}
.username-txt-field,.password-txt-field{
    margin-bottom: 1em;
    width: 100%;
}

.username-password-form a{
    align-self: center;
}

.username-password-form a .submit-btn{
    padding:0.3em 5em;
    background-color:rgba(18, 86, 141, 1);
    border:none;
    cursor:pointer;
    font-size: 1.2em;
    border-radius: 0.3em;
}

.show{
    display: block;
}
.hidden{
    display: none;
}
.edit-btn{
    background-color: #008CBA;
}
.submit{
    background-color:lightsalmon;
}
.subheading-txt{
    color: aliceblue;
}