.allarticle-topbar{
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
	margin-bottom: 0.3em;
}

.searchbar-holder{
	width:100%;
}
.searchbar-holder .searchbar-console{
	justify-content: flex-end;
}
.searchbar-holder .searchbar-console .search-input-txt{
	width: 20em;
	margin-right: 0.5em;
}

.create-article-btn{
	width:150px;
	margin-left:10px;
}