.container-styles{
    text-align: center;
}
.main-div{
    box-align: center;
    
}
 
.article-card{
    background-color:  #99b4cb;
}
.article-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
 
.drivecard{
    height:150px;
    margin: 10px;
    width: 1000PX;
}
.article-card{ 
    margin:5px;
    padding: 10px;
    border-radius:10px; 
}
 .candidatedata{
     margin-left:10px;
 }

 .modal-content {
    z-index: 9999;
    position: absolute; 
    background-color:wheat;
    padding: 1.5em 0.5em;
    border: 1px solid #888;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    left: 20%; 
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.2), 0 6px 20px 0 rgba(12, 12, 12, 0.19);
}
 
.modelclose{
    width: 13vw;
    
}
.empdriveheading{
    font-weight: 650;
   font-family: 'Times New Roman', Times, serif;
}
 